<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--조회하기 누르면 api의 정보 조회, 자기가 보고싶은 시군구 선택하기-->
<!--    시군구명 : <input type="text" th:name="address">-->
    page: <input type="text" name="page">
    perPage: <input type="text" name="perPage">
    <select name="address" id="address">
        <option selected>시/군/구명 선택</option>
        <option value="1">달서구</option>
        <option value="2">수성구</option>
        <option value="3">중구</option>
        <option value="4">서구</option>
        <option value="5">남구</option>
        <option value="6">동구</option>
        <option value="7">달성군</option>
    </select>
    이메일 입력 : <input type="email" name="email">
    <button onclick="get_list()">조회하기</button> <br>
<br>
<div id="list_result">
</div>
</body>
</html>
<script>
    const [page,perPage] = document.getElementsByTagName("input");
    const address = document.getElementById("address");
    const createDiv = document.getElementById("list_result");

    function get_list() {
        fetch("/get_list?page="+page.value+"&perPage="+perPage.value)
            .then((response)=>{
                console.log('실행')
                console.log(page.value, perPage.value)
                return response.json();
            }).then((result)=>{
            console.log(result)
            if (page.value > 10 || perPage.value >20){
                alert("숫자를 정확히 입력해주세요!")
                createDiv.insertAdjacentHTML(`beforeend`, `<div>조회된 데이터가 없습니다.</div>`)
            } else {
                db_update(result);
            }
        }).catch(e => console.log("error: ", e))
    }

    //버튼을 눌렀을떄 조건에 맞는 정보가 출력되도록 함
    function db_update(mainList) {
        let adr;
        switch (address.value) {
            case 1:
                adr === "달서구";
                break;
            case 2:
                adr === "수성구";
                break;
            case 3:
                adr === "중구";
                break;
            case 4:
                adr === "서구";
                break;
            case 5:
                adr === "남구";
                break;
            case 6:
                adr === "동구";
                break;
            case 7:
                adr === "달성군";
                break;
        }
        createDiv.innerHTML = '';
        for(let i = 0; i < mainList.length; i++){
            createDiv.insertAdjacentHTML(`beforeend`, `<div>${mainList[i].adr} / ${mainList[i].시군구명} / ${mainList[i].전화번호}</div>`)
        }
    }



</script>