<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--조회하기 누르면 api의 정보 조회, 자기가 보고싶은 시군구 선택하기-->
    시군구명 : <input type="text" th:name="address">
    page: <input type="text" th:name="page">
    perPage: <input type="text" th:name="perPage">
    <button onclick="get_list()">조회하기</button>
<div id="list_result">
    데이터가 나오는 곳
</div>
</body>
</html>
<script>
    const [address,page,perPage] = document.getElementsByTagName("input");


    function get_list() {
        fetch("/get_list?page="+page.value+"&perPage="+perPage.value)
            .then((response)=>{
                console.log('실행')
                return response.json();
            }).then((result)=>{
                console.log(result)
                db_update(result);
        }).catch(e => console.log("error: ", e))
    }

    //버튼을 눌렀을떄 조건에 맞는 정보가 출력되도록 함
    function db_update(mainList) {
        const createDiv = document.getElementById("list_result");
        for(let i = 0; i < mainList.length; i++){
            createDiv.insertAdjacentHTML(`beforeend`, `<div>${mainList[i].가맹점명} / ${mainList[i].시군구명}</div>`)
        }
    }


</script>