<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="25"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.testapi.dto.MainDTO" alias="MainDTO"/>
    </typeAliases>

</configuration>
